<nav class="navbar navbar-expand-lg justify-content-between align-items-end">

    <h1 class="text-left"><a class="nav-link" href="/">PORTFOLIO<br>.COM</a></h1><br>

    <div class="float-right " id="navbarResponsive">

        <div class="navbar-nav">
            <a class="nav-link n-item" href="/about">About</a>
            <a class="nav-link n-item" href="/projects">Projects</a>
            <a class="nav-link n-item" href="/contact">Contact</a>
        </div>

    </div>

</nav>