<!DOCTYPE html>
<html lang="en">

<head>
    <!-- METADATA -->
    <%- include('partials/head'); %>
    <title>About</title>
</head>

<body>
    <!-- MAIN-CONTENT -->
    <div class="container h-100 cont-j">

        <!-- JUMBOTRON -->
        <div class="jumbotron my-auto">

            <!-- JUMBO-CONTENT -->
            <h2 class="display-4 h2">ABOUT</h2>
            <p class="lead">Hi! How are you?</p>
            <hr class="my-4">
            <div>
                <p class="lead">A person who like to explore more about coding and programming.<br>
                    Still struggles to be a successful web developer.<br>
                    Currently learning how to code by myself on online platforms.</p>
            </div>
            
            <!-- NAVIGATION -->
            <div>
                <%- include('partials/nav'); %>
            </div>
            
        </div>

    </div>
    
    <!-- SCRIPTS -->
    <div>
        <%- include('partials/script'); %>
    </div>

</body>

</html>