<!DOCTYPE html>
<html lang="en">

<head>
    <!-- METADATA -->
    <%- include('partials/head'); %>
    <title>About</title>
</head>

<body>
    <!-- MAIN-CONTENT -->
    <div class="container cont-j">

        <!-- JUMBOTRON -->
        <div class="jumbotron my-auto">

            <!-- JUMBO-CONTENT -->
            <h2 class="display-4 h2">ABOUT</h2>
            <p class="lead">Hi! How are you?</p>
            <hr class="my-4">
            <div>
                <p class="lead">A person who interest in web development.<br>
                    Currently still learning on how to improve my code and projects.</p>
            </div>
            
            <!-- NAVIGATION -->
            <div>
                <%- include('partials/nav'); %>
            </div>
            
        </div>

    </div>
    
    <!-- SCRIPTS -->
    <div>
        <%- include('partials/script'); %>
    </div>

</body>

</html>