<!DOCTYPE html>
<html lang="en">

<head>
    <!-- METADATA -->
    <%- include('partials/head'); %>
    <title>Contact</title>
</head>

<body>

    <!-- MAIN CONTENT -->
    <div class="container cont-j">

        <!-- JUMBOTRON -->
        <div class="jumbotron my-auto">

            <!-- JUMBO-CONTENT -->
            <div>
                <h2 class="display-4 h2">REACH ME</h2>
                <p class="lead">Ping! me and let's go for a coffee!!</p>
                <p class="lead">Either you have a project for me or just want to have a talk about web development,<br>
                I accept both!</p>
            </div>
            
            <hr class="my-4">

            <!-- FLEX -->
            <div class="d-flex flex-row align-items-center justify-content-center bd-highlight">
                <div class="p-2 bd-highlight"><a href="https://twitter.com/" target="_blank"><img src="img/twitter.svg" class="img-fluid" alt="Twitter"></a></div>
                <div class="p-2 bd-highlight"><a href="https://github.com/zh6ziq" target="_blank"><img src="img/gh.svg" class="img-fluid" alt="Github"></a></div>
                <div class="p-2 bd-highlight"><a href="https://mail.google.com/" target="_blank"><img src="img/gmail.svg" class="img-fluid" alt="Gmail"></a></div>
            </div>

            <!-- NAVIGATION -->
            <div>
                <%- include('partials/nav'); %>
            </div>
 
        </div>

    </div>

    <!-- SCRIPTS -->
    <div>
        <%- include('partials/script'); %>
    </div>

</body>

</html>