<!DOCTYPE html>
<html lang="en">

<head>
    <!-- METADATA -->
    <%- include('partials/head'); %>
    <title>Portfolio</title>
</head>

<body>
    <!-- MAIN CONTENT-->
    <div class="container cont-j">

        <!-- JUMBOTRON -->
        <div class="jumbotron my-auto">

            <!-- JUMBO-CONTENT -->
            <div>
                <img src="img/hzq.jpg" class="rounded-circle rounded mx-auto d-block img-fluid" width="200" height="200">
                <h2 class="display-4 text-center h2"><i>@zh6ziq</i></h2>
                <p class="lead">&lt; A BEGINNER &#47;&gt;</p>
            </div>

            <!-- NAVIGATION -->
            <div>
                <%- include('partials/nav'); %>
            </div>

        </div>

    </div>

    <!-- SCRIPTS -->
    <div>
        <%- include('partials/script'); %>
    </div>

</body>

</html>