<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
    <title>Projects</title>
</head>

<body>
    <!-- MAIN CONTENT -->
    <div class="container cont-j">

        <!-- JUMBOTRON -->
        <div class="jumbotron my-auto">

            <!-- JUMBO-CONTENT -->
            <div>
                <h2 class="display-4 h2">PROJECTS</h2>
            </div>

            <div>
                <p class="lead">Few projects and frameworks that I've done.<br>And more will come in future!</p>
            </div>

            <!-- FLEX -->
            <div class="d-flex flex-row align-items-center justify-content-center bd-highlight">
                <div class="col-sm-3  bd-highlight"><img src="img/calculator.png" class="img-fluid">
                    <span><a href="https://github.com/zh6ziq/calculator">Calculator App</a></span>
                </div>
                <div class="col-sm-3  bd-highlight"><img src="img/currency-converter.png" class="img-fluid">
                    <span><a href="https://github.com/zh6ziq/currency-converter">Money Converter</a></span>
                </div>
            </div>
            <!-- <div class="row">
                
                    <div class="col-sm-1"><img src="img/vuejs.png" class="img-fluid"></div>
                    <div class="col-sm-1"><img src="img/nodejs.png" class="img-fluid"></div>
                    <div class="col-sm-1"><img src="img/mysql.png" class="img-fluid"></div>
               
            </div> -->
            <div class="d-flex flex-row align-items-center justify-content-center bd-highlight">

                <div class="col-md-2 col-sm-1 p-2 bd-highlight">
                    <img src="img/vuejs.png" class="img-fluid" alt="VueJS">
                </div>

                <div class="col-md-2 col-sm-1 p-2 bd-highlight">
                    <img src="img/nodejs.png" class="img-fluid" alt="NodeJS">
                </div>
                <div class="col-md-2 col-sm-1 p-2 bd-highlight">
                    <img src="img/mysql.png" class="img-fluid" alt="mySQL">
                </div>

            </div>
            

            

            <!-- NAVIGATION -->
            <div>
                <%- include('partials/nav'); %>
            </div>

        </div>

    </div>

    <!-- SCRIPTS -->
    <div>
        <%- include('partials/script'); %>
    </div>
    
</body>

</html>