<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
    <title>Projects</title>
</head>

<body>
    <!-- MAIN CONTENT -->
    <div class="container h-100 cont-j">

        <!-- JUMBOTRON -->
        <div class="jumbotron my-auto">

            <!-- JUMBO-CONTENT -->
            <div>
                <h2 class="display-4 h2">PROJECTS</h2>
            </div>

            <!-- FLEX -->
            <div class="d-flex flex-row align-items-center justify-content-center bd-highlight">
                <div class="p-2 bd-highlight"><img src="img/bs4.png" class="img-fluid"></div>
                <div class="p-2 bd-highlight"><img src="img/nodejs.png" class="img-fluid"></div>
                <div class="p-2 bd-highlight"><img src="img/vuejs.png" class="img-fluid"></div>
                <div class="p-2 bd-highlight"><img src="img/css.png" class="img-fluid"></div>
                <div class="p-2 bd-highlight"><img src="img/mysql.png" class="img-fluid"></div>
            </div>

            <div>
                <p class="lead">I have done a few projects based on those frameworks.<br>
                    Watch out!<br>More frameworks will be added in future!</p>
            </div>

            <!-- NAVIGATION -->
            <div>
                <%- include('partials/nav'); %>
            </div>

        </div>

    </div>

    <!-- SCRIPTS -->
    <div>
        <%- include('partials/script'); %>
    </div>
    
</body>

</html>